[submodule "Shell-MSE-Main-Module"]
	path = Shell-MSE-Main-Module
	url = https://github.com/AeonDigital/Shell-MSE-Main-Module.git
	branch = main
[submodule "Shell-MSE-UnitTest"]
	path = Shell-MSE-UnitTest
	url = https://github.com/AeonDigital/Shell-MSE-UnitTest
	branch = main
[submodule "Shell-MSE-String"]
	path = Shell-MSE-String
	url = https://github.com/AeonDigital/Shell-MSE-String
	branch = main
[submodule "Shell-MSE-Terminal"]
	path = Shell-MSE-Terminal
	url = https://github.com/AeonDigital/Shell-MSE-Terminal.git
	branch = main
